// Site Theme Colours
$darkTheme: #323446;
$greyBackground: #F5F5F5;
$altTheme: #50e3c2;
$portalYellow: #e5ac01;
$portalGreen: #50e3c2;
$portalBlue: #4B90E2;
$portalDarkBlue: #1D69C4;
$portalRed: #EA5C5C;
$portalDarkRed: #BB1D1D;

//n shades of grey
$portalBlack: #373A3C;
$portalGrey: #677078;
$portalDarkGrey: #6A737B;
$portalDarkerGrey: #4A4A4A;
$modalText: #54566E;
$lightGrey: #a9a9a9;

//Starling Brand Colours
$starlingPurple: #7433FF;
$deepPurple: #2C1C49;

// Custom bsStyles
$primaryPurple: #7f5bce;
$successGreen: #5cb85c;
$infoBlue: #5bc0de;
$warningYellow: #f0ad4e;
$dangerRed: #d9534f;

